.h-flex{
    display: flex;
    flex-direction: column;
}
.top-tiers{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}

.btn{
    margin:0.2rem;
    padding: 0.2rem;
    height: 2.0rem;
    width: 2.0rem;
    align-items: center;
}
.search_box{
    margin:0.2rem;
    height: 2.0rem;
    width: 20rem;
    align-items: center;
}